<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leesunho">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="word"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leesunho">
        <activity
            android:name=".Revise_word"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog"/>
        <activity
            android:name=".Word_list_Recommend"
            android:exported="true" />
        <activity
            android:name=".Add_Word"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".Word_list"
            android:exported="true" />
        <activity
            android:name=".Word_main"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>